.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-image: radial-gradient(#FFE9AE,#C1EFFF);
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #ad6e0e;
}

p {
  font-size: 2rem;
  font-weight: bold;
  color: black;
  font-family: 'Indie Flower', cursive;
  background-color: white;
  width:138px;
  border-radius: 8px;
  margin-left: 55px;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;
}
#mybtn{
  height: 7vh;
  width:  7vw;
  margin-left: 44rem;
  color: green;
  font-size: 30px;
}
